// Color palette:
// #f1f3f8
// #d6e0f0
// #8d93ab
// #393b44
body {
  background-color: #f1f3f8;
}

.navbar-bg {
  background-color: #8d93ab;
}

.brand-color {
  color: #f1f3f8;
}

.form-control {
  box-sizing: initial;
}

@media (max-width: 768px) {
  #search-btn {
    width: 105%;
  }
}
