// Color palette:
// #f1f3f8
// #d6e0f0
// #8d93ab
// #393b44
body {
  background-color: #f1f3f8;
}

.navbar-bg {
  background-color: #8d93ab;
}

.brand-btn {
  background-color: #8d93ab;
  color: white;
}

.brand-btn:hover {
  background-color: #393b44;
  color: #f1f3f8;
}

.jobcard:hover {
  box-shadow: 0 0 2px rgba(35, 173, 278, 1);
}

.brand-color {
  color: #f1f3f8;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.badge {
  color: white;
  background-color: #80e4bc;
  margin: 3px;
  padding: 0.5rem;
  border-radius: 25px !important;
}

.form-control {
  box-sizing: initial;
}

.skills-container {
  border-radius: 50px;
  border: 1px solid rgb(99, 99, 99, 0.4);
}

@media (max-width: 768px) {
  #search-btn {
    width: 105%;
  }
}

#skills-div {
  background-color: #f1f3f8 !important;
  margin: 0 auto;
  height: 40%;
  width: 80%;
  border-radius: 25px !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.6);
}
