// /**
//  * Color palette:
//  * #f1f3f8
//  * #d6e0f0
//  * #8d93ab
//  * #393b44
//  */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f8;
}

.navbar-bg {
  background-color: #8d93ab;
}

.brand-btn {
  background-color: #8d93ab;
  color: white;
}

.brand-btn:hover {
  background-color: #393b44;
  color: #f1f3f8;
}

.jobcard:hover {
  box-shadow: 0 0 2px rgba(35, 173, 278, 1);
  cursor: pointer;
}

.brand-color {
  color: #f1f3f8;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.badge {
  color: white;
  background-color: #80e4bc;
  margin: 3px;
  padding: 0.5rem;
  border-radius: 25px !important;
}

.form-control {
  box-sizing: initial;
}

.skills-container {
  border-radius: 50px;
  border: 1px solid rgb(99, 99, 99, 0.4);
}

@media (max-width: 768px) {
  #search-btn {
    width: 105%;
  }
}

#skills-div {
  background-color: #f1f3f8 !important;
  margin: 0 auto;
  height: 45%;
  width: 75%;
  border-radius: 25px !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 24, 24, 0.6);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.rbt-token {
  background-color: #75d3ae;
  color: white;
  border-radius: 20px;
}

#sign-in:hover {
  color: #7fe2bb;
  cursor: pointer;
  padding-bottom: 4px;
  border-bottom-style: solid;
}

#saved-jobs {
  height: 700px;
  border-radius: 25px;
  background-color: white;
  border: solid 1px black;
}
